/* Color pelette */
:root {
    --var-header-bg: #1c1c1c;
    --text-white: #f8f7ef;
    --jumbtron-bg: #fcfbf3;
}

/* #region header */
header {
    background-color: var(--var-header-bg);
    z-index: 50000;
    position: sticky;
    top: 0;

    a {
        color: var(--text-white);

        span {
            font-size: 12px;
            padding-left: 15px;
        }
    }
}

/* #endregion header */

/* #region main */
main {
    .banner {
        background-color: var(--jumbtron-bg);
        position: relative;
        z-index: 10;

        form {
            width: 600px;
            margin: auto;
            z-index: 10;

            @media (max-width: 656px) {
                width: 300px;
            }
        }
    }

    .movie-list {
        position: relative;
        z-index: 500;

        .pop-up {
            width: 100%;
            justify-content: space-between;

            .left,
            .right {
                width: 35%;

                hr {
                    border: .75px solid black;
                }
            }

            .center {
                width: 30%;
                border: 1px solid lightgray;
                border-radius: 50px;
                text-align: center;
                font-size: .75rem;
            }
        }

    }
}

.rotating-shapes {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -1;
}

.shape {
    position: absolute;
    animation: rotate 25s infinite linear;
    opacity: 0.8;
}

.square {
    top: -20%;
    left: -5%;
    width: 150px;
    height: 150px;
    background-color: #feca57;
}

.triangle {
    top: 25%;
    right: -7%;
    width: 150px;
    height: 150px;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 125px solid #1dd1a1;
}

/* Animazione di rotazione */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* #endregion main */